<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/176ce5fa08.js" crossorigin="anonymous"></script>
    <title>Корзина</title>
</head>
<body class="bg-gray-100">
<h1> АДМИН ПАНЕЛЬ РАБОТАЕТ</h1>

</body>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
    .container{
        margin-top: 30px;
    }
    .fa-house {
        font-size: 2em;
    }
</style>
</html>