<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/176ce5fa08.js" crossorigin="anonymous"></script>
    <title>Product List</title>
</head>
<body>
<h1>HELLO</h1> <p sec:authentication="principal.username"></p>
<h3 class="my-10 text-center text-3xl" th:text="${category_name}"></h3>
<div class="container mx-auto relative">
    <div class="flex justify-end">
        <a th:href="@{'products/add'}" th:if="${categoryId == null}" th:name="categoryId" th:value="*{categoryId}"
           class="text-white font-medium bg-yellow-500 hover:bg-yellow-600 rounded-xl inline-block py-3 px-6 mb-10">Добавить</a>
        <a th:href="@{'products/add?categoryId=' + ${categoryId}}" th:if="${categoryId != null}"
           class="text-white font-medium bg-yellow-500 hover:bg-yellow-600 rounded-xl absolute r-0 py-3 px-6 -translate-y-20">Добавить</a>
    </div>
    <table class="w-full text-left">
        <thead class="bg-white uppercase text-black">
        <tr class="border-b">
            <th class="px-6 py-3">#</th>
            <th class="px-6 py-3">Название</th>
            <th th:if="${param.isEmpty()}" class="px-6 py-3">Категория</th>
            <th class="px-6 py-3">Цена</th>
            <th class="px-6 py-3"></th>
            <th class="px-6 py-3"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="font-medium even:bg-gray-100" th:each="product : ${products}">
            <td class="px-6 py-3 text-black" th:text="${product.getId()}"></td>
            <td class="px-6 py-3 font-semibold text-black" th:text="${product.getName()}"></td>
            <td th:if="${param.isEmpty()}" class="px-6 py-3">
                <a th:href="@{|products?categoryId=${product.getCategory().getId()}|}"
                   th:text="${product.getCategory().getName()}" class="text-gray-700 hover:text-gray-900"></a>
            </td>
            <td class="px-6 py-3 text-black" th:text="${product.getPrice()}"></td>
            <td class="text-center">
                <a class="text-yellow-500 hover:text-yellow-700 text-lg" th:href="@{|/products/edit/${product.getId()}|}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td class="text-center">
                <a class="text-red-500 hover:text-red-700 text-lg" th:href="@{|/products/delete/${product.getId()}|}">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-right pr-3 py-6 text-xl ">
        Средняя стоимость: <span class="font-semibold" th:text="${avg}"></span>
    </div>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>