<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Редактировать</title>
</head>
<body class="h-[100vh] bg-gray-100">
<div class="container h-full mx-auto flex justify-center items-center" th:object="${product}">
  <form th:action="@{|/products/edit/${product.getId()}|}" method="post"
        class="h-min lg:w-2/5 bg-yellow-500 px-10 py-12 rounded-3xl shadow-lg">
    <h2 class="text-3xl text-center pb-6 text-white">Редактировать</h2>
    <input type="hidden" name="productId" th:value="${product.getId()}">
    <div class="my-5 flex flex-col gap-2">
      <label for="name" class="font-medium text-white">Название</label>
      <input type="text" th:value="*{name}" name="name" id="name"
             class="py-1.5 px-2.5 border border-white bg-white rounded-lg">
    </div>
    <div class="my-5 flex flex-col gap-2">
      <label for="price" class="font-medium text-white">Цена</label>
      <input type="text" th:value="*{price}" name="price" id="price"
             class="py-1.5 px-2.5 border border-white bg-white rounded-lg">
    </div>
    <div class="grid grid-cols-2 gap-x-5 gap-y-2.5">
      <div th:each="option : ${product.getCategory().getOptions()}" class="flex flex-col gap-2 w-full">
        <label th:for="${option.getId()}" class="font-medium text-white" th:text="${option.getName()}"></label>
        <input type="text" th:value="${@productService.findValueByProductAndOption(product, option)}"
               name="updatedValues"
               th:id="${option.getId()}"
               class="py-1.5 px-2.5 border border-white bg-white rounded-lg">
      </div>
    </div>
    <div class="flex gap-5 mt-10">
      <button type="submit"
              class="text-white w-full bg-yellow-600 hover:bg-yellow-800 font-medium rounded-lg text-sm px-5 py-2.5">
        Сохранить
      </button>
      <a href="/products"
         class="text-white w-full bg-yellow-600 hover:bg-yellow-800 font-medium text-center rounded-lg text-sm px-5 py-2.5">
        Отменить
      </a>
    </div>
  </form>
</div>
</body>
<style>
  body {
    font-family: 'Montserrat', sans-serif;
  }
</style>
</html>